@import "../../styles/color";

.root-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainBg;

  // &-footer{
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     height: 64px;
  //     border-top: 1px solid blue;
  // }
}
