@import "../../styles/color";

.home {
  overflow: auto;
  // height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  padding: 24px;

  &-landing-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-book-appoinment {
    color: $teal500;
  }

  &-book-now {
    height: 100%;
    margin-top: 12px;
    width: 100%;
  }
  
  &-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  &-phone-number,
  &-username {
    margin-top: 12px;
    width: 100%;
  }

  &-address {
    height: 100%;
    margin-top: 24px;
  }

  &-popup {
    position: relative;
    margin-bottom: 12px;
    &-slider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .home {
    width: 400px;
  }
}

.ant-image-preview-img-wrapper::before {
  height: 25% !important;
}
