@import "../../styles/color";

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $teal500;
  height: 64px;
  padding: 10px 24px;
  background-color: $mainBg;
  &-left {
    &-title {
      font-weight: bold;
      font-size: 24px;
      color: $teal500;
    }
  }
  &-right {
    display: flex;
  }
  &-item {
    display: flex;
    margin-right: 24px;
    color: $teal500;
    &:hover {
      text-decoration: underline;
    }
  }
}
.mr-24 {
  margin-right: 24px;
}
