@import "../../styles/color";

.admin {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 24px;
  &-popup-form {
    display: flex;
    flex-direction: column;
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }
    &-select-end-date {
      margin-top: 16px;
    }
    &-img {
      width: 200px;
      border: 1px dashed #dedede;
      padding: 16px;

      &-picker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .anticon-file-image {
          font-size: 4rem;
        }
        &-text {
          margin-top: 0.5rem;
        }
      }
    }
    &-street-name,
    &-address {
      margin-top: 16px;
    }
  }

  .dis-none {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .admin {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .admin {
    width: 400px;
  }
}
